.service-item {
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  position: relative;
}
.service-item:hover img {
  transform: scale(1.1);
}
.service-item .image {
  overflow: hidden;
}
.service-item img {
  max-width: 100%;
  height: 200px;
  transition: all 0.5s;
}
.service-item h4 {
  font-size: 16px;
}
.service-item .content {
  padding: 20px;
}
.service-item .price {
  position: absolute;
  top: 0;
  right: 0;
}
.service-item .price p {
  padding: 5px 10px;
  border-left: 3px solid #ffca0b;
  background: rgba(32, 44, 69, 0.7);
  color: #fff;
  font-size: 18px;
}
